<div class="footer">
      <div class="footer__header">
      </div>
      <div class="footer__container">
          <div class="grid">
              <div class="grid__row grid__row-footer">
                  <div class="grid__column-10">
                      <div class="footer__container-list">
                          <div class="grid__row">
                              <div class="grid__column-2-4">
                                  <div class="footer__container-item">
                                      <div class="footer__container-item__header">
                                          <span>CHĂM SÓC KHÁCH HÀNG</span>
                                      </div>
                                      <ul class="footer__container-item-list">
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Trung trợ giúp</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Shop Blog</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Shop Mall</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Hướng dẫn mua hàng</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Hướng dẫn bán hàng</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Thanh toán</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Vận chuyển</a>
                                          </li> 
                                      </ul>
                                  </div>
                              </div>
                              <div class="grid__column-2-4">
                                  <div class="footer__container-item">
                                      <div class="footer__container-item__header">
                                          <span>GIỚI THIỆU VỀ SHOP</span>
                                      </div>
                                      <ul class="footer__container-item-list">
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Tuyển dụng</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Điều khoản</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Chính sách bảo mật</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Kênh người bán</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Chính hãng</a>
                                          </li>
                                          
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">Truyền thông</a>
                                          </li> 
                                      </ul>
                                  </div>
                              </div>
                              <div class="grid__column-2-4">
                                  <div class="footer__container-item">
                                      <div class="payment">
                                          <div class="footer__container-item__header">
                                              <span>THANH TOÁN</span>
                                          </div>
                                          <img src="./assets/img/payments.JPG" alt="" class="payment__list">
                                      </div>
                                      <div class="ship">
                                          <div class="footer__container-item__header">
                                              <span>ĐƠN VỊ VẬN CHUYỂN</span>
                                          </div>
                                          <img src="./assets/img/ship.JPG" alt="" class="ship__list">
                                      </div>
                                  </div>
                              </div>
                              <div class="grid__column-2-4">
                                  <div class="footer__container-item">
                                      <div class="footer__container-item__header">
                                          <span>THEO DÕI CÚNG TÔI</span>
                                      </div>
                                      <ul class="footer__container-item-list">
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">
                                                  <i class="icon-footer fab fa-facebook"></i>
                                                  Facebook</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">
                                                  <i class="icon-footer fab fa-instagram-square"></i>
                                                  Instagram</a>
                                          </li>
                                          <li class="footer__container-item-line">
                                              <a href="" class="footer__container-item-link">
                                                  <i class="icon-footer fab fa-linkedin"></i>
                                                  Linkedln</a>
                                          </li>
                                      </ul>
                                  </div>
                              </div>
                              <div class="grid__column-2-4">
                                  <div class="footer__container-item">
                                      <div class="footer__container-item__header">
                                          <span>TẢI ỨNG DỤNG NGAY THÔI</span>
                                      </div>
                                      <div class="dowload-app">
                                          <img src="./assets/img/d91264e165ed6facc6178994d5afae79.png" alt="" class="download-app__qr">
                                          <div class="download-app__store">
                                              <ul class="download-app__store-items">
                                                  <li class="download-app__store-list">
                                                      <a href="#" class="download-app__store-link">
                                                          <i class="icon-footer fab fa-apple"></i>App Store
                                                      </a>
                                                  </li>
                                                  <li class="download-app__store-list">
                                                      <a href="#" class="download-app__store-link">
                                                          <i class="icon-footer fab fa-google-play"></i>CH Play
                                                      </a>
                                                  </li>
                                                  
                                              </ul>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
