<div class="app">
    <div class="sign-in__nav">
        <div class="grid grid-nav" style="margin-top: 0px;">
            <div class="sign-in__nav-left">
                <a href="sign-in.html" class="back-bt">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <img src="../../../assets/img/Shopee-logo-512x512.png" alt="" class="sign-in__nav-logo">
                <span>Đăng ký</span>
            </div>
            <a href="#" class="sign-in__nav-right">Cần trợ giúp?</a>
        </div>
    </div>
    <div class="sign-in__body">
        <div class="gid grid-body">
            <div class="sign-form">
                <h1 class="sign-form__heading">
                    Đăng ký
                </h1>
                <form action="" class="form-body">
                    <input type="text" class="form-body__input" placeholder="Số điện thoại/Tên đăng nhập" required />
                    <input type="password" class="form-body__input" placeholder="Mật khẩu" required />
                    <input type="text" class="form-body__input" placeholder="Email" required />
                    <input type="text" class="form-body__input" placeholder="Họ và tên" required />
                    <button class="btn btn--primary btn-mobile">Đăng ký</button>
                </form>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
