
<div class="app">
    <div class="container">
        <div class="grid">
            <div class="grid__row">
                <div id="grid__column-2_mobile" class="grid__column-2">
                    <nav class="category">
                        <div class="category__heading">
                            <i class="fas fa-list-ul"></i>
                            Danh mục
                        </div>
                        <ul class="category-list">
                            <li class="category-item">
                                <a href="#" class="category-item__link">Màn hình</a>
                            </li>
                            <li class="category-item">
                                <a href="#" class="category-item__link">Bàn phím</a>
                            </li>
                            <li class="category-item">
                                <a href="#" class="category-item__link">Chuột</a>
                            </li>
                            <li class="category-item">
                                <a href="#" class="category-item__link">Sạc không dây</a>
                            </li>
                            <li class="category-item">
                                <a href="#" class="category-item__link">Sạc không dây</a>
                            </li>
                            <li class="category-item">
                                <a href="#" class="category-item__link">Sạc không dây</a>
                            </li>
                        </ul>
                        <div class="category-close" onclick="closeMenu()">  
                            <span>Đóng</span>
                        </div>
                    </nav>
                </div>
                <div class="grid__column-10">
                    <div class="home__filter">
                        <div class="home__filter-select">
                            <span class="home__filter-title">Sắp xếp theo</span>
                            <button class="btn btn-filter">Phổ biến</button>
                            <button class="btn btn--primary btn-filter">Mới nhất</button>
                            <button class="btn btn-filter">Bán chạy</button>
                            <div class="home__filter-sort">
                                <span class="home__filter-sort-name">Giá</span>
                                <i class="icon-sort fas fa-chevron-down"></i>
                                <div class="filter-sort">
                                    <ul class="filter-sort-list">
                                        <li class="filter-sort-item">
                                            <a href="#" class="item-select">Giá: Thấp đến Cao</a>
                                        </li>
                                        <li class="filter-sort-item">
                                            <a href="#" class="item-select">Giá: Cao đến Thấp</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="home__product">
                        <div class="grid__row">
                            <!-- product item -->                          
                                <div class="grid__column-2-4" *ngFor="let data of service.list_product | slice: (page-1) * pageSize : page * pageSize">
                                   <app-san-pham [productItem]="data"></app-san-pham>
                                </div>                           
                            <!-- product item -->
                            
                        </div>
                        <div class="home__product-page-responsive">
                            <div class="home__product-page-controller">
                                <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="service.list_product.length"></ngb-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="home__product-page">
        <div class="home__product-page-controller">
            <ngb-pagination [(page)]="page" [pageSize]="pageSize" [collectionSize]="service.list_product.length"></ngb-pagination>
        </div>
    </div>
</div>

