<div class="app">
    <div class="header">
        <div class="grid">
            <div class="header__nav">
                <ul class="header__nav-list">
                    <li class="header__nav-item header__nav-item-qr">Vào cửa hàng
                        <div class="header__qr">
                            <img src="./assets/img/d91264e165ed6facc6178994d5afae79.png" alt="QR Code"
                                class="header__qr--img">
                        </div>
                    </li>
                    <li class="header__nav-item"><span class="no-poiter" style="color: aliceblue;">Kết nối</span>
                    </li>
                    <li class="header__nav-item">
                        <a href="" class="header__nav-icon-link">
                            <i class=" header__nav--icon fab fa-facebook"></i>
                        </a>
                        <a href="" class="header__nav-icon-link">
                            <i class="header__nav--icon fab fa-instagram"></i>
                        </a>
                    </li>
                </ul>
                <ul class="header__nav-list">
                    <li class="header__nav-item header__nav-item-notify"><i
                            class=" header__nav--icon far fa-bell"></i>Thông báo
                        <div class="header__notification">
                            <header class="header__notification-header">
                                <h3>Thông báo mới nhất</h3>
                            </header>
                            <ul class="header__notification-list">
                                <li class="header__notification-item">
                                    <a href="#" class="header__notification-link">
                                        <img src="https://cdn.theatlantic.com/thumbor/QmYmk9KkT2xI96NSHhVO17-yY2k=/1x118:4524x2662/720x405/filters:format(png)/media/img/2018/05/GettyImages_514897242/original.png"
                                            alt="" class="header__notification-img">
                                        <div class="header__notification-info">
                                            <span class="header__notification-name">Mỹ phẩm chính hãng</span>
                                            <p class="header__notification-desc">Sản phẩm tuyệt vời</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="header__notification-list">
                                <li class="header__notification-item">
                                    <a href="#" class="header__notification-link">
                                        <img src="https://cdn.theatlantic.com/thumbor/QmYmk9KkT2xI96NSHhVO17-yY2k=/1x118:4524x2662/720x405/filters:format(png)/media/img/2018/05/GettyImages_514897242/original.png"
                                            alt="" class="header__notification-img">
                                        <div class="header__notification-info">
                                            <span class="header__notification-name">Mỹ phẩm chính hãng</span>
                                            <p class="header__notification-desc">Sản phẩm tuyệt vời</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="header__notification-list">
                                <li class="header__notification-item">
                                    <a href="#" class="header__notification-link">
                                        <img src="https://cdn.theatlantic.com/thumbor/QmYmk9KkT2xI96NSHhVO17-yY2k=/1x118:4524x2662/720x405/filters:format(png)/media/img/2018/05/GettyImages_514897242/original.png"
                                            alt="" class="header__notification-img">
                                        <div class="header__notification-info">
                                            <span class="header__notification-name">Mỹ phẩm chính hãng</span>
                                            <p class="header__notification-desc">Sản phẩm tuyệt vời</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <ul class="header__notification-list">
                                <li class="header__notification-item">
                                    <a href="#" class="header__notification-link">
                                        <img src="https://cdn.theatlantic.com/thumbor/QmYmk9KkT2xI96NSHhVO17-yY2k=/1x118:4524x2662/720x405/filters:format(png)/media/img/2018/05/GettyImages_514897242/original.png"
                                            alt="" class="header__notification-img">
                                        <div class="header__notification-info">
                                            <span class="header__notification-name">Mỹ phẩm chính hãng</span>
                                            <p class="header__notification-desc">Sản phẩm tuyệt vời</p>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                            <footer class="header__notification-footer">
                                <a href="#" class="header__notification-footer-link">Xem tất cả</a>
                            </footer>
                        </div>
                    </li>
                    <li class="header__nav-item"><i class=" header__nav--icon fas fa-question-circle"></i>Trợ giúp
                    </li>
                    <li class="header__nav-item header__nav-name">
                        <div *ngIf="user_profiles" class="header__user-profile">
                            <i class="header__nav--icon fas fa-user-circle"></i>
                            {{user_profiles?.userName}}
                            <div class="header__profile-box">
                                <ul class="header__profile-list">
                                    <li class="header__profile-item">
                                        <a href="#" class="header__profile-link">Tài khoản của tôi</a>
                                    </li>
                                    <li class="header__profile-item">
                                        <a href="#" class="header__profile-link">Đơn mua</a>
                                    </li>
                                    <li class="header__profile-item">
                                        <button style="color: black;" (click)="logoutUser()" class="header__nav-item__login">Đăng xuất</button>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </li>
                    <li *ngIf="!user_profiles" class="header__nav-item">
                        <a [routerLink]="['/dang-nhap']">
                            <button class="header__nav-item__login">Đăng nhập</button>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Searching -->
            <div class="header__searching">
                <div class="header__searching-container">
                    <div class="header__logo">
                        <div class="header__logo-icon">
                            <a class="header__logo-icon-link" [routerLink]="['/client/trang-chu']"><i class="fab fa-cc-amex"></i></a>
                            <a [routerLink]="['/client/trang-chu']" RouterLinkActive="router-link-active" class="header__logo-icon-back"><i class="fas fa-arrow-left"></i></a>
                        </div>

                    </div>
                    <div class="header__search">
                        <div class="header__search-input">
                            <input type="text" class="header__search-text"
                                
                                placeholder="Tìm sản phẩm,...">
                            <div class="header__search-history">
                                <h3 class="header__search-history-heading">
                                    Lịch sử tìm kiếm
                                </h3>
                                <ul class="header__search-history-list">
                                    <li class="header__search-history-item">
                                        <a class="header__search-history-link" href="">Tai nghe không dây</a>
                                    </li>
                                    <li class="header__search-history-item">
                                        <a class="header__search-history-link" href="">Quạt tản nhiệt</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="header__search-btn-items">
                            <button class="header__search-btn">
                                <div class="header__search-btn-icon">
                                    <i class="fas fa-search"></i>
                                </div>
                            </button>
                        </div>
                    </div>
                    <div class="header__cart">
                        <a href="#" class="header__cart-link header__cart-link-icon">
                            <i class="fas fa-shopping-cart"></i>
                            <div class="cart-qnt__number">{{cartItem}}</div>
                        </a>
                        <div class="header__cart-box">
                            <div class="header__cart-heading">
                                <h3>Sản phẩm mới thêm</h3>
                            </div>
                            <div class="header__cart--list--box">
                                <ul class="header__cart-list" *ngFor="let item of cartList">
                                    <li class="header__cart-item">
                                        <a href="#" class="header__cart-link">
                                            <img *ngIf="item?.image" src="{{item.image}}"
                                                alt="" class="header__cart-img">
                                            <div class="header__cart-info">
                                                <span class="header__cart-name">{{item.productName}}</span>
                                                <span class="header__cart-price">{{item.discount|currency:"VND":"symbol"}}</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="header__cart-footer">
                                <div class="header__cart-footer-content">
                                    <h3 class="header__cart-footer-quantity">{{cartItem}} sản phẩm thêm giỏ hàng</h3>
                                    <a [routerLink]="['trang-chu/gio-hang']" routerLinkActive="router-link-active" class="btn btn--primary btn--cart">Xem giỏ hàng</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="header__sort">
                        <a href="#" class="header__cart-sort-icon">
                            <i class="fas fa-filter"></i>
                        </a> 
                        <a href="#" class="header__cart-sort-icon" onclick="openMenu()">
                            
                            <i class="fas fa-ellipsis-h"></i>
                        </a> 
                    </div>
                </div>
                <div class="header__product-recomend">
                    <ul class="header__product-list">
                        <li class="header__product-items">
                            <a href="" class="header__product-link">Sạc nhanh</a>
                            <a href="" class="header__product-link">Sách</a>
                            <a href="" class="header__product-link">Màn hình</a>
                            <a href="" class="header__product-link">Chuột</a>
                            <a href="" class="header__product-link">Phím</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
