.header{
    height: 120px;
    background-color:var(--primary-color);
}
.header__nav{
    display: flex;
    justify-content: space-between;
    height: 100%;
}
.header__nav-list{
    margin: auto 0;
    list-style: none;
    
}
.header__nav-item{
    font-size: 1.6rem;
    display: inline-block;
    color: var(--white-color);
    margin: 0 8px;
    cursor: pointer;
    position: relative;
    z-index: 4;
}
.header__nav-item  a{
    color: var(--white-color);
}
.header__nav-item  a:hover{
    color: var(--white-color);
    opacity: 0.7;
}
.header__nav-item-qr:hover .header__qr{
    display: block;
}
.header__nav-item-notify{
    position: relative;
    z-index: 3;
}
.header__nav-item-notify:hover .header__notification{
    display: block;
}
.header__nav-item--strong{
    font-weight: 800;
}
.header__nav-item:hover{
    opacity: 1;
}
.header__nav-icon-link{
   
    text-decoration: none;
}
.header__nav--icon{
    color: var(--white-color);
    font-size: 1.8rem;
    margin-left: 4px;
}
.no-poiter{
    cursor: text;
    color: var(--white-color);
}
.header__qr{
    background-color: var(--white-color);
    width: 160px;
    position: absolute;
    left: 0px;
    top:30px;
    padding: 8px;
    display: none;
    border-radius: 3px;
    box-shadow: 0px 0px 8px -3px #000000;
    z-index: 4;
}
/* xay dung element gia */
.header__qr::before{
    position: absolute;
    background-color: rgba(255, 255, 255, 0);
    width: 100%;
    height: 20px;
    left: 0;
    top: -13px;
    content: "";
    display: block;
    animation: fadeIn ease-in 2s;
}
.header__qr--img{
    width: 100%;
}
.header__notification{
    position: absolute;
    width: 404px;
    top: 100%;
    right: 0px;
    background-color: white;
    top: 30px;
    border: 1px solid rgb(99, 89, 89);
    /* box-shadow: ; */
    -webkit-box-shadow: 0 10px 6px -6px #777;
     -moz-box-shadow: 0 10px 6px -6px #777;
          box-shadow: 0 10px 6px -6px #777;
    cursor: default;
    animation: headerNoti ease-in 0.15s;
    /* dinh huong tam hiem */
    transform-origin: calc(100% - 20px) top;
    display: none;
}
.header__notification::before{
    content: "";
    border: 20px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 20px;
    top: -30px;
}
.header__notification::after{
    content: "";
    position: absolute;
    background-color:transparent;
    width: 90px;
    height: 10px;
    right: 0;
    top: -12px;
}
@keyframes headerNoti{
    from{
        transform: scale(0);
    }
    to{
        transform: 1;
    }
}
.header__notification-header{
    height: 40px;
    color: var(--black-color);
    cursor: text;
}
.header__notification-list{
    padding-left: 0px;
}
.header__notification-header h3{
   line-height: 40px;
   padding-left: 20px;
   font-weight: 800;
}
.header__notification-item{
    display: flex;
}
.header__notification-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
    background-color: rgba(247, 201, 201, 0.822);
    width: 100%;
}
.header__notification-link:hover{
    background-color: #f1f1f1;
}
.header__notification-img{
    width: 50px;
    object-fit: contain;
}
.header__notification-info{
    margin-left: 12px;
    
}
.header__notification-name{
    font-weight: 1000;
    color: var(--black-color);
    font-size: 1.6rem;
}
.header__notification-desc{
    color: var(--black-color);
    font-weight: 700;
    font-size: 1.4rem;
    padding-top: 3px;
}
.header__notification-footer{
    height: 40px;
    text-align: center;
}
.header__notification-footer-link{
    line-height: 40px;
    font-weight: 800;
    color: var(--black-color);
    text-decoration: none;
}
/* user profile */
.header__nav-name{
    font-size: 1.6rem;
    color:var(--white-color);
    font-weight: 900;
    z-index: 3;
}
.header__nav-name:hover .header__profile-box{
    display: block;
}
.header__user-profile{
    position: relative;
    
}
.header__profile-box{
    display: none;
    margin-top: 5px;
    margin-left: -42px;
    position: absolute;
    background-color: var(--white-color);
    width: 176px;
    border-radius: 3px;
    box-shadow: 0px 0px 7px -1px #000000;
}
.header__profile-box::before{
    margin-top: -7px;
    position: absolute;
    content: "";
    background-color: transparent;
    width: 100%;
    height: 7px;
}
.header__profile-list{
    list-style: none;
    padding-left: 0px;
}
.header__profile-item{
    height: 34px;
    padding:0 10px;
    border-radius: 3px;
}
.header__profile-item:hover{
    background-color: var(--color-hover);
}
.header__profile-link{
    line-height: 36px;
    text-decoration: none !important;
    size: 1.6rem;
    font-weight: 900;
    color: var(--black-color) !important;
    display: block;
}
.header__profile-link:hover{
    color: mediumseagreen;
}
.header__nav-item__login{
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
}
/* searching */
.header__searching{
    height: 75px;
}
.header__searching-container{
    padding: 12px 0 25px 0;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.header__logo{
    height: 100%;
    width: 202px;
}
.header__logo-icon{
    font-size: 4.0rem;
    display: flex;
    justify-content: center;
    color: var(--white-color);
}
.header__logo-icon-link{
    color: var(--white-color);
    text-decoration: none;
}
.header__logo-icon-link:hover{
    color: var(--white-color);
    text-decoration: none;
}
/* mobile */
.header__logo-icon-back{
    display: none;
}
.header__search{
    background-color: var(--white-color);
    height: 100%;
    width: 834px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 2px;
}
.header__search-input{
    width: 90%;
    height:100%;
    padding: 4px 0;
    position: relative;
    z-index: 2;
}
.header__search-text{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    padding-left: 16px;
    font-size: 1.6rem;
    border-radius: 2px;
    font-weight: 900;
}
.header__search-text:focus ~ .header__search-history{
    display: block;
}
.header__search-history{
    top: calc(100% + 5px);
    left:0;
    width:calc(100% - 20px);
    background-color: var(--white-color);
    border-radius: 3px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    border: 1px solid rgb(99, 89, 89);
    position: absolute;
    display: none;
    
}
.header__search-history-heading{
    padding: 10px 0 10px 16px;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-color);
    margin: 0px 0px !important;
}
.header__search-history-list{
    padding-left: 0px;
}
.header__search-history-item{
    list-style: none;
    padding-left: 16px;
    height: 26px;
    border-radius: 0 0 3px 3px;
}
.header__search-history-item:hover{
    background-color: var(--color-hover);
}
.header__search-btn-items{
    padding:3px 3px ;
    height: 100%;
    width: 10%;
}
.header__search-history-link{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--black-color);
    line-height: 26px;
    display: block;
}
.header__search-btn{
    width: 100%;
    height: 100%;
    border: none;
    background-color: var(--primary-color);
    border-radius: 2px;
    cursor: pointer;
    outline: none;
}
.header__search-btn:hover{
    background-color: var(--color-hover-primary);
}
.header__search-btn-icon{
    color: var(--white-color);
    font-size: 1.6rem;
}
/* Sort Mobile */
.header__sort{
    display: none;
}
.category-close{
    display: none;
}
/* cart */
.header__cart{
    position: relative;
    margin: 3px 4% 0 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    display: inline-block;
    flex-direction: column;
    z-index: 2;
}
.header__cart:hover .header__cart-box{
    display: block;
}
.header__cart-link{
    
    line-height: 100%;
    font-size: 3.2rem;
    color: var(--white-color);
}
.header__cart-link-icon{
    text-decoration: none !important;
    width: 30%
}
.cart-qnt__number{
    margin-top: -15px;
    color: var(--white-color);
    font-size: 1.5rem;
}
.header__cart-box{
    position: absolute;
    margin-top:10px;
    margin-left: -350px;
    width: 404px;
    border-radius: 4px;
    border: 1px solid rgb(99, 89, 89);
    background-color: var(--white-color);
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    display: none;
    animation: headerNoti ease-in 0.2s;
    /* dinh huong tam hiem */
    transform-origin: calc(100% - 20px) top;
    
}
.header__cart-box::after{
    content: "";
    position: absolute;
    background-color: transparent;
    width: 92px;
    height: 10px;
    right: 0;
    top: -11px;
}
.header__cart-box::before{
    content: "";
    border: 20px solid;
    border-color: transparent transparent white transparent;
    position: absolute;
    right: 12px;
    top: -28px;
}
/* cart box */
.header__cart-heading{
    padding: 10px;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-color);
}
.header__cart--list--box{
    max-height: 326px;
    overflow-y: scroll;
}
.header__cart-list{
    padding: 12px 0px;
}
.header__cart-list:hover{
    background-color: var(--color-hover);
}
.header__cart-item{
    list-style: none;
}
.header__cart-link{
    text-decoration: none !important;
    display: flex;
    flex-direction: row;
}
.header__cart-img{
    padding-left: 10px;
    width: 60px;
    object-fit: contain;
}
.header__cart-info{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}
.header__cart-name{
    padding-left: 10px;
    margin-top: -8px;
    font-size: 1.6rem;
    color: var(--black-color);
    font-weight: 900;
}
.header__cart-price{
    margin-top: -8px;
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 900;
    padding-right: 8px;
}
.header__cart-footer{
    padding: 10px 10px;
}
.header__cart-footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__cart-footer-quantity{
    font-size: 1.6rem;
    color: var(--text-color);
    font-weight: 900;
    line-height: 36px;
}
/* -------------- */
.header__product-recomend{
    margin-top: -20px;
}
.header__product-list{
    padding-left: 15%;
}
.header__product-items{
    padding-left: 22px;
    list-style: none;
}
.header__product-link{
    text-decoration: none;
    margin-right: 14px;
    color: var(--white-color);
    font-weight: 900;
    font-size: 1.2rem;
}
/* 2.Container */
.container{
    background-color:var(--white-color);
    width: 100%;
    height: 900px;
    overflow: hidden;
    /* margin-bottom: 30px; */
}
.category{
    background-color: var(--white-color);
    padding-top: 6px;
    border-radius: 3px;
    position: relative;
}
.category__heading{
    padding: 6px 12px;
    color: var(--black-color);
    font-size: 1.6rem;
    font-weight: 900;
}
.category__heading::before{
    margin-top: 21px;
    content: "";
    background-color: var(--text-color);
    position: absolute;
    width: 88%;
    height: 2px;
}
.category-list{
    list-style: none;
    padding-left: 0px;
}
.category-item{
    padding: 6px 0px 6px 15px;
}
.category-item:hover{
    background-color: var(--color-hover);
    border-radius: 3px;
   
}
.category-item__link{
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--text-color);
    display: block;
    transition: right linear 0.1s;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}
/* Home filter */
.home__filter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
    background-color:#EDEDED;
    border-radius: 2px;
}
.home__filter-select{
    background-color:#EDEDED;
    width: 76%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.home__filter-title{
    padding-left: 20px;
    font-size: 1.5rem;
    font-weight: 900;
}
.btn-filter{
    margin-left: 10px;
}
.home__filter-sort{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--white-color);
    width: 25%;
    height: 36px;
    margin-left: 10px;
    border-radius: 2px;
    position: relative;
}
.filter-sort{
    position: absolute;
    background-color: var(--white-color);
    margin-top: 125px;
    width: 100%;
    border-radius: 2px;
    display: none;
    z-index: 2;
}
.filter-sort::before{
    top: -5px;
    content: "";
    width: 100%;
    height: 5px;
    background-color:transparent;
    position: absolute;
}
.filter-sort-list{
    list-style: none;
    padding-left: 0px;
}
.filter-sort-item{
    height: 40px;
    border-radius: 3px;
}
.filter-sort-item:hover{
    background-color: var(--color-hover);
    border-radius: 2px;
}
.item-select{
    line-height: 40px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--black-color);
    display: block;
    padding-left: 20px;
}
.home__filter-sort-name{
    font-size: 1.5rem;
    padding-left: 20px;
    font-weight: bold;
}
.icon-sort{
    font-size: 1.5rem;  
    padding-right: 10px;
    cursor: pointer;
}
.home__filter-sort:hover .filter-sort{
    display: block;
}
.home__filter-page{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 125px;
    margin-right: 10px;
}
.filter-page-number{
    display: flex;
    flex-direction: row;
    font-size: 15px;
    font-weight: 900;
    padding-right: 18px;
    line-height: 44px;
}
.btn-page{
    width: 36px;
    height: 36px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration:none;

}
/* End: Home_filter */
/* Home product */
.home__product-item{
    position: relative;
    background: var(--white-color);
    cursor: pointer;
    
}
.home__product-item:hover{
    border: 1px solid var(--primary-color);
    box-shadow: 0px 4px 10px 0px #000000;
    border-radius: 3px 3px 0px 0px;
}
.home__product-item:hover .home__product-item__similar{
    display: block;
    box-shadow: 0px 5px 10px 0px #000000;
}
.home__product-item__img{
    width: 100%;
    height: 192px;
}
.home__product-item__name{
    margin: 5px;
    font-size: 1.4rem;
    font-weight: 900;
    color: var(--black-color);
    line-height: 1.8rem !important;
    height: 3.6rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}
.home__product-item__sale{
    margin-top: 5px;
    padding: 0 5px;
    width: 100%;
    height: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.home__product-item__sale-off{
    background: #F69113;
    padding: 0px 2px;
}
.home__product-item__sale-off-title{
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
}
.home__product-item__sale-buy{
    background-color: var(--white-color);
    padding: 0px 5px;
    border: 1px solid var(--primary-color);
}
.home__product-item__sale-buy-title{
    font-size: 1.1rem;
    font-weight: 900;
    color: var(--primary-color);
}
.home__product-item__price{
    margin-top: 10px;
    padding: 0px 5px;
    display: flex;
    flex-direction: column;
}
.home__product-item__price-old{
    text-decoration: line-through;
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--text-color);
}
.home__product-item__price-current{
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.icon-ship{
    color: #00BFA5;
    font-size: 1.4rem;
}
.home__product-item__action{
    margin-top: 10px;
    padding: 0px 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.home__product-item__action-like{
    color: palevioletred;
    font-size: 1.4rem;
    font-weight: 900;
}
.home__product-item__action-stars{
    display: flex;
    align-items: center;
    justify-content: center;
}
.home__product-item__action-star{
    color: #FFCE3D;
    font-size: 1.1rem;
    font-weight: 900;
}
.home__product-item__action-bought{
    padding-left: 3px;
    font-size: 1.4rem;
    font-weight: 900;
}
.home__product-item__local{
    margin:5px 0px;
    padding: 0px 5px 5px 5px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.home__product-item__local-name{
    padding-left: 3px;
    font-size: 1.4rem;
    font-weight: 900;
}
.home__product-item__favorite{
    top: 10px;
    left: -4px;
    position: absolute;
    color: var(--primary-color);
    background-color: currentColor;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 3px 3px 0;
}
.home__product-item__favorite::after{
    top: 16px;
    left: 0px;
    position: absolute;
    content: "";
    border-top: 3px solid currentColor;
    filter: brightness(60%);
    border-left: 3px solid transparent;
}
.icon-check{
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
}
.home__product-item__favorite-title{
    padding-left: 2px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--white-color);
}
.home__product-item__similar{
    margin-top: -5px;
    margin-left: -1px;
    position: absolute;
    background-color: var(--primary-color);
    width: calc(100% + 2px);
    height: 28px;
    display: none;
    z-index: 1;
    border-radius: 0px 0px 3px 3px;
}
.home__product-item__similar-title{
    margin-left: 25px;
    line-height: 28px;
    font-size: 1.3rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--white-color);
}
/* End: Home product */
/* Home product page */
.home__product-page{
    margin: 31px 0px 60px 0px;
    width: 100%;
   display: flex;
   justify-content: center;
}
.home__product-page-responsive{
    display: none;
}
.home__product-page-controller{
    width: 520px;
    display: flex;
    justify-content: space-around;
}
.btn__page{
    min-width: 50px;
    height: 32px;
    cursor: pointer;
    border: none;
    outline: none;
    text-decoration:none;
    background-color: transparent;
    color: #939393;
    font-size: 1.9rem;
    font-weight: 900;
    border-radius: 2px;
}
.btn__page-number{
    background-color: var(--primary-color);
    color: var(--white-color);
}
.btn__page-number:hover{
    background-color: var(--color-hover-primary);
}
.page-dots{
    width: 50px;
    color: #939393;
    font-size: 1.9rem;
    font-weight: 900;
   margin-top: 10px;
   margin-left: 20px;
}
/* End: Home product page */
/* End.Container */
/* footer */
.footer{
    margin-top: 60px;
    width: 100%;
    height: 920px;
    background-color: #FBFBFB;
    border-top: 4px solid var(--primary-color);
}
.footer__header{
    width: 100%;
    height: 122px;
    background-color: var(--white-color);
}
.grid__row-footer{
    padding-top: 0px;
}
.footer__container-item__header{
    color: rgba(0,0,0,.54);
    font-size: 1.2rem;
    font-weight: 900;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 14px;
}
.footer__container-item-list{
    padding-left: 0px;
}
.footer__container-list{
    border-top: 2px solid #E8E8E8;
    border-bottom: 2px solid #E8E8E8;
}
.footer__container-item-line{
    list-style: none;
    margin-bottom: 14px;
}
.footer__container-item-link{
    text-decoration: none;
    color: rgba(0,0,0,.54);
    font-size: 1.2rem;
    font-weight: 900;
}
.footer__container-item-link:hover{
    color: var(--primary-color);
}
.payment__list{
    width: 80%;
}
.ship__list{
    width: 80%;
}
.icon-footer{
    font-size: 1.6rem;
    padding-right: 5px;
}
.dowload-app{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.download-app__qr{
    width: 45%;
}
.download-app__store{
    padding-left: 16px;
}
.download-app__store-items{
    padding-left: 0px;
}
.download-app__store-list{
    margin-bottom: 10px;
    list-style: none;
}
.download-app__store-link{
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 900;
}
/* End: footer */

/* Mobile */
@media only screen and (max-width: 739px){
    /* .header */
    .header{
        width: 100%;
        height: 60px;
        background-color: var(--white-color);
        top: 0;
        left: 0;
        right: 0;
        z-index: 1;
        position: fixed;
    }
    .header__nav{
        display: none;
        /* display: flex;
        justify-content: space-between;
        height: 100%; */
    }
    .header__searching-container{
        margin-top: -10px;
        display: flex;
        justify-content: space-around;
        flex-direction: row;
    }
    .header__logo-icon{
        margin-left: 15px;
        justify-content: flex-start;
    }
    .header__logo-icon-link{
        display: none;
    }
    .header__logo-icon-back{
        display: block;
        font-size: 2.2rem;
        line-height: 38px;
        color: var(--primary-color);
    }
    .header__product-items{
        display: none;
    }
    .header__search{
        margin-left: -20px;
        
    }
    .header__search-input{
        border-radius: 3px 0 0 3px;
        background-color: #F2F2F2;
    }
    .header__search-text{
        padding-left: 5px;
        background-color: #F2F2F2;
    }
    .header__search-text:focus ~ .header__search-history{
        display: none;
    }
    .header__search-btn-items{
        padding: 0;
    }
    .header__search-btn{
        background-color: #F2F2F2;
        border-radius: 0 3px 3px 0;
    }
    .header__search-btn-icon{
        color: var(--text-color);
    }
    /* cart */
    .header__cart{
        display: none;
    }
    .category-close{
        display: block;
        border-radius: 0px 0px 5px 5px;
    }
    .header__sort{
        width: 260px;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .header__cart-sort-icon{
        margin-left: 10px;
        font-size: 2.2rem;
        line-height: 38px;
        color: var(--primary-color);
    }
    /* end: header */
    /*Category-sibar */
    .category-close{
        width: 100%;
        height: 50px;
        background-color: var(--primary-color);
        text-align: center;
        cursor: pointer;
    }
    .category-close span{
        color: var(--white-color);
        font-size: 1.6rem;
        font-weight: 900;
        line-height: 50px;
    }
    /* filter */
    .home__filter{
        margin-top: -60px;
        height: 36px;
    }
    .home__filter-select{
        margin-top: -10px;
        position: fixed;
        z-index: 1;
        right: 0;
        width: 100%;
        height: 36px;
        display: flex;
        justify-content: space-around;
        border-bottom: 2px solid var(--text-color);
    }
    .home__filter-title{
        display: none;
    }
    .btn-filter{
        margin-left: 0px;
        width: 25%;
    }
    .home__filter-page{
        display: none;
    }
    .home__filter-sort{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: var(--white-color);
        width: 25%;
        height: 36px;
        margin-left: 0px;
        border-radius: 2px;
        position: relative;
    }
    .filter-sort{
        position: absolute;
        background-color: var(--white-color);
        margin-top: 125px;
        margin-left: -50px;
        width: calc(100% + 50px);
        border-radius: 2px;
        display: none;
        z-index: 2;
    }
    /* End: Filter */
    /* Home product */
    .container{
        background-color:var(--white-color);
        width: 100%;
        margin-bottom: 30px;
        overflow: unset;
        margin-top: 120px;
    }
    .home__product-item{
        background-color: #EFEFEF;
    }
    .home__product-page{
       display: none;
    }
    .home__product-page-responsive{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .btn__page{
        min-width: 32px;
        height: 32px;
        cursor: pointer;
        border: none;
        outline: none;
        text-decoration:none;
        background-color: transparent;
        color: #939393;
        font-size: 1.9rem;
        font-weight: 900;
        border-radius: 2px;
    }
    .home__product-item:hover{
        border: none;
        box-shadow: none;
    }
    .home__product-item:hover .home__product-item__similar{
        display: none;
        box-shadow: 0px 5px 10px 0px #000000;
    }
    /* End:Home product */
    /* footer */
    .footer{
        display: none;
    }
    /* end: footer */
}
































/* Modal CSS */
.auth-form{
    width: 500px;
}
.auth-form__container{
    padding: 30px 32px 16px 32px;
}
.auth-form__header{
    padding: 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading{
    font-size: 2.0rem;
    font-weight: 900;
}
.auth-form__switch-btn{
    font-size: 1.4rem;
    color: var(--primary-color);
    font-weight: 900;
    cursor: pointer;
}
.auth-form__form{
    margin-top: 24px;
}
.auth-form__input{
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.6rem;
    font-weight: 900;
    border: var(--border-color) solid 1px;
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus{
    border-color: rgb(201, 201, 201);
}
.auth-form__aside{
    margin-top: 18px;
    font-size: 1.2rem;
    font-weight: 900;
}
.auth-form__policy-text{
    text-align:center;
}
.auth-form__link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 64px;
    display: flex;
    justify-content: flex-end;
}
.auth-form__socials{
    background-color: var(--border-color);
    height:60px;
    border-radius: 0 0 5px 5px;
}
.auth-form__items{
    padding: 13px 36px;
    display: flex;
    justify-content: space-between;
}
.btn.btn--with-icon{
    width: 210px;
    text-align: center;
    line-height: 36px;
    font-size: 1.6rem;
    border-radius: 2px;
}
.btn-facebook{
    background-color: #3A5A98;
    color: var(--white-color);
}
.btn-facebook:hover{
    background-color:  #3A5A98;
}
.btn-google{
    background-color: var(--white-color);
    color: var(--text-color);
    font-weight: 900;
}
.btn-google:hover{
    background-color: var(--white-color);
}
.auth-form__item-text{
    margin-left: 10px;
}
/* Login form */
.auth-form__policy-text--login{
    text-align: end;
}
.auth-form__login{
    margin-left: 12px;
}
.auth-form__link.auth-form__login.help{
    color: var(--text-color);
}


